section.conteudo {
    width: 1000px;
    margin: auto;
}

iframe.frameSpec {
    width: 400px;
    height: 300px;
    border: none;
    overflow: hidden;
    display: block;
    float: right;
}

iframe.frameSpec::-webkit-scrollbar {
    display: none;
}