span.bodyIframe {
    font-family: Arial, sans-serif;
    font-size: 10pt;
}

span.bodyIframe p {
    text-align: justify;
    text-indent: 20px;
}

span.bodyIframe article h1 {
    font-size: 15pt;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .3);
    padding: 5px;
    margin: 0px;
}

span.bodyIframe article h2 {
    font-size: 13pt;
    color: #888888;
    margin: 0;
}

span.bodyIframe article {
    margin-bottom: 800px;
}

span.bodyIframe img.imagemDireita {
    display: block;
    float: right;
    margin-left: 5px;
}