/* Formatação do Menu */

img.icone {
    position: absolute;
    top: 60px;
    left: 1020px;
}

nav.menu {
    display: block;
}

nav.menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 550px;
}

nav.menu li {
    display: inline-block;
    background-color: #DDDDDD;
    padding: 10px;
    margin: 2px;
    -webkit-transition: background-color 1s; /* https://autoprefixer.github.io/ */
    -o-transition: background-color 1s;
    transition: background-color 1s;
}

nav.menu li:hover {
    background-color: #606060;
}

nav.menu h1 {
    display: none;
}

nav.menu a {
    color: #000000;
    text-decoration: none;
}

nav.menu a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}