/* Formatação de imagens com legenda */

figure.fotoLegenda {
    position: relative;
    border: 8px solid #FFFFFF;
    box-shadow: 1px 1px 4px #000000;
}

figure.fotoLegenda img {
    width: 100%;
    height: 100%;
}

figure.fotoLegenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.fotoLegenda:hover figcaption {
    opacity: 1;
}

/* Formatação da Section */

section.corpo {
    display: block;
    width: 600px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 20px;
}

/* Formatação do Article */

article.noticiaPrincipal span h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #DDDDDD;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

/* Formatação da Table */

table.tabelaEspecificacoes {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table.tabelaEspecificacoes td {
    border: 1px solid #606060;
    padding: 10px;
    vertical-align: middle;
}

table.tabelaEspecificacoes td.colunaEsquerda {
    color: #FFFFFF;
    background-color: #606060;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
}

table.tabelaEspecificacoes td.colunaDireita {
    background-color: #CECECE;
}

table.tabelaEspecificacoes caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table.tabelaEspecificacoes caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

/* Formatação do Vídeo 01 */

video#filme01 {
    display: block;
    position: relative;
    width: 580px;
    margin: auto;
    padding-bottom: 10px;
    cursor: pointer;
}

/* Formatação do Aside */

aside.lateral {
    background-color: #DDDDDD;
    display: block;
    width: 440px;
    float: right;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

aside.lateral h1 {
    font-family: 'FontLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside.lateral h2 {
    background-color: #606060;
    font-size: 13pt;
    color: #FFFFFF;
    padding: 5px;
}

/* Formatação do Vídeo 02 */

video#filme02 {
    display: block;
    position: relative;
    top: -5px;
    width: 400px;
    height: 250px;
    margin: auto;
    cursor: pointer;
}