/* Formatação de imagens com legenda */

figure.fotoLegenda {
    position: relative;
    border: 8px solid #FFFFFF;
    box-shadow: 1px 1px 4px #000000;
}

figure.fotoLegenda img {
    width: 100%;
    height: 100%;
}

figure.fotoLegenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.fotoLegenda:hover figcaption {
    opacity: 1;
}

/* Formatação da Section */

section.corpo {
    display: block;
    width: 660px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 20px;
}

table.tabelaEspecificacoes {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table.tabelaEspecificacoes td {
    border: 1px solid #606060;
    padding: 10px;
    vertical-align: middle;
}

table.tabelaEspecificacoes td.colunaEsquerda {
    color: #FFFFFF;
    background-color: #606060;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
}

table.tabelaEspecificacoes td.colunaDireita {
    background-color: #CECECE;
}

table.tabelaEspecificacoes caption {
    color: #888888;
    font-size: 13pt;
    font-weight: bolder;
}

table.tabelaEspecificacoes caption span {
    display: block;
    float: right;
    color: #000000;
    font-size: 8pt;
    margin-top: 10px;
}

/* Formatação do Aside */

aside.lateral {
    display: block;
    width: 500px;
    float: right;
}

/* Formatação do Footer */

footer.rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer.rodape p {
    text-indent: 0px;
    text-align: center;
}