@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FontLogo';
    src: url("assets/fonts/bubblegum-sans-regular.otf");
}

body {
    background-color: #DDDDDD;
    color: rgba(0, 0, 0, 1);
}

div.interface {
    width: 1200px;
    background-color: #FFFFFF;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 10px;
}

p {
    text-align: justify;
    text-indent: 50px;
}