header.cabecalho {
    border-bottom: 1px #606060 solid;
    height: 150px;
    background: url("../../assets/img/glass-logo-peq.jpg") no-repeat 0px 80px;
}

header.cabecalho h1 {
    font-family: 'FontLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    padding: 0px;
    margin-bottom: 0px;
}

header.cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: 0px;
}